/* COLORS */
$bgColor: #333;
$textColor: #c2c2c2;
$textHighlightColor: #ebebeb;

$accentColor1: #33ffff; //GREEN
$accentColor1Shadow: #00cccc;

$accentColor2: #ffa509;
$accentColor2Shadow: #cc6600;

/* Alternate Palette */ 
$bgColor: #222;
$textColor: #BBB;
$textHighlightColor: #ebebeb;

//$accentColor1: #00e4ff; //BLUE
//$accentColor1Shadow: #00b5ca;

$accentColor1Light: #88f2ff;

$accentColor2: #ffa509;
$accentColor2Shadow: #cc6600;
$accentColor2Light: #e4bd79;
