<div class="sharable-image">
    <a href="{{url}}" title="{{title}}" target="_blank"><img src="{{url}}" alt="{{title}}" width="100%" height="auto"></a>
  
    <div class="share">
      Share this: 
      <span>
        <!-- <share-buttons [url]=url [description]=description [image]=url [tags]=tags size=-2></share-buttons> -->
        <!--<share-button button="facebook" theme="circles-dark" [url]=url [description]="description" [title]="title"></share-button>
        <share-button button="twitter" theme="circles-dark" [url]=url></share-button>
        <share-button button="pinterest" theme="circles-dark" [url]=url></share-button>-->
      </span>
    </div>
  </div>