<app-banner [imgSrc]="'assets/images/brazil_womans_march.jpg'" [title]="'About'"></app-banner>

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <app-video-overlay [ytid]="'ACke28f3swE'"></app-video-overlay>

    </div>
  </div>

  <!--ABOUT TEXT -->
  <div class="row">
    <div class="col-md-8">
      <h2>About The Rules</h2>
      <p>
        In 2012, The Rules (TR) started out asking why mass poverty still exists on a world of such plenty. In looking for the answers, we have grown into a global collective of activists, writers, artists, researchers, coders and others who work to expose the root causes of  our current crisis.
      </p>

      <p>
        We start from two core insights:
      </p>

      <p>
        <strong>All power rests on the ability to harness and control language; and humans make sense of their world through stories.</strong>
      </p>
      <p>
        The stories - or narratives - we tell reveal how power has come to rest in the hands of the few rather than the many. They reveal how our struggles - from land to labour rights, the fight for biodiversity and even for control of our very bodies - are part of the same global struggle against a system that prioritises the production of capital and economic growth over all other things. 
      </p>
      <p>
        We tell stories about alternative systems that exist and that are emerging. We also connect movements working in diverse and creative ways to resist and reimagine the world.
      </p>


<!-- WHAT WE DO - BADGES -->

      <h2>What we do</h2>
      <p>There are several ways in which The Rules works to make the radical idea of a post-capitalist world common sense, here are just a couple:</p>
    
      <h3>Culture Hack Lab</h3>
      <p>
        Through the Culture Hack Lab, we work to understand how stories change culture over time. Capitalism, for example, isn’t something tangible that you can touch, it’s a powerful story that millions of us around the world have bought into. But it’s also an old, worn-out story that needs to be replaced with one fit for the 21st century and beyond. We use our framing and data analysis expertise, our creativity and storytelling powers to show up the stories that have shaped our global economy, and how that has brought about things like poverty, inequality and climate change. And then we tell new ones that show that another world is possible in a way that feels like common sense.
      </p>
      <p>
        One of the ways we do this is with the growing <a routerLink="/get-involved">TR community</a>. Both online and off we are nurturing conversations with individuals and organisations who share the belief that our capitalist system needs to be replaced with a myriad of local alternatives that value Life rather than consumption. We work with others to spread and amplify stories of what's possible into the mainstream.
      </p>



  <!--
  <div class="row badges">
    <div
      class="col-md-4 col-sm-4 col-xs-4 tr-badge" *ngFor="let badge of badges; let i = index"
      (click)="selectBadge(i)" (click)="onMouseDown()" [ngClass]="{'active': i == selectedBadge}"
    >
      <img src="assets/images/badges/{{badge.id}}.png" alt="{{badge.title}}" height="auto" width="100%">
      <h3>{{badge.title}}</h3>
    </div>
  </div>

  <div class="row badge-text" [ngClass]="{'animate-open': badgeChanged}">
    <div class="col-md-12" >
      <p>
        {{badges[selectedBadge].text}}
      </p>
    </div>
  </div>-->


      <h2>Current Projects</h2>

      <h3>Asha</h3>
      <p>
        There are few ideas around today that can match Universal Basic Income for pure potential.
      </p>
      <p>
        The Rules’ conception is on the radical end of the spectrum of those being considered, in order to allow us to engage ideas around work, money, and power, through talking about UBI. The more transformational framing is that UBI is a chance to radically re-think our relationship to work, to free us from bullshit jobs (to use David Graeber’s term), to de-couple the economy from perpetual GDP growth and consumption, and to usher in a creative and spiritual renaissance on the planet as people will no longer live simply to keep body and soul together. The tactical innovation is the crypto-currency model, which creates complementary currencies that bypass existing debt-based systems and power structures by using blockchain smart contracts to establish community trust agreements. Our approach to narrative is such, however, that any transformational narrative we can construct should be of benefit to all groups working on UBI.
      </p>

      <h4>Objectives:</h4>
      <ol>
        <li>
          To raise awareness amongst the global public about the feasibility and radical potential of a genuinely universal, blockchain enabled crypto-currency UBI.
        </li>
        <li>
          To fire the starting gun in the race to develop an operative proof-of-concept for the UBI delivery mechanism.
        </li>
      </ol>
    

      <h3>Aurora</h3>
      <p>
        In 2016,  Time magazine declared American capitalism to be in  “great crisis”. This is not a fringe view. A 2015 seven-nation survey found that there is an almost universal belief that the world’s biggest businesses have cheated and polluted their way to success.  A majority also agreed that the poor get poorer and the rich get richer in capitalist economies. Even in economies that have been most successful by capitalist standards - Britain, Brazil, Germany and America -  a majority of parents expect their children to be worse off than them.
      </p>
      <p>
        These signs are encouraging for anyone interested in moving beyond neoliberal capitalism and embracing a post-capitalist future. But they are tentative and fragmented. We could be seeing the emergence of a global post-capitalist sentiment, but we are not there yet. If these disparate, unclear signals are to cohere into a meaningful political and social force, they must be engaged. Dots must be connected between various movements and geographies, practically and conceptually. A sense that neoliberal capitalism is a dangerous ideology that cannot be made safe must become pervasive to the point that it penetrates and then comes to dominate the global political narrative. Ultimately, the belief that we must usher in new economic paradigms must emerge as common sense.
      </p>
      <h4>Objectives:</h4>
      <ol>
        <li>
          To engage the sense of crises around the world in order to galvanise the emerging global story of the opportunity for transition to post-capitalist systems.
        </li>
        <li>
          To help create a far greater sense of self-awareness amongst the broad post-capitalist movement
        </li>
        <li>
          In 2017, to contextualise relevant national political crises in the larger whole-system context
        </li>
        <li>
          In 2017, to reveal the role of capitalism in our current polycrises
        </li>
        <li>
          In 2017, to reveal the opportunities for connection and action
        </li>
      </ol>

      <h3>The Activist Ashram</h3>
      <p>
          The Activist Ashram is a year-long fellowship for front-line organisers in various communities around the world. It provides a space for solidarity building for those at the coalface of the battle against oppression and exploitation. Combining both in-person and virtual sessions, fellows are able to examine how their various struggles are related, as well as share safe space, experiences, analysis, wisdom, and organising tactics. The programme is co-created with the fellows, and has a focus on a more holistic activism and the spiritual aspects of the struggle.
        </p>
    </div>
  </div>


  <!--
  <div class="row">
    <div class="col-md-12">
      <h2>The TR online community</h2>
      <p>
      Across our various social networks we’re nurturing conversations with individuals and organisations who share the belief that our capitalist system needs to be replaced with a myriad of local alternatives that value people and planet. Whether on Facebook, YouTube, Instagram or Twitter, we want create a space for debate, inspiration and collaboration.
      </p>
    </div>
  </div>-->

</div>

