<!-- HEADER -->
<!--<nav class="navbar" [ngClass]="{home: router.url==='/home'}">-->
  <nav class="navbar">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="/home">The Rules</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/about">/ About</a></li>
          <li><a routerLink="/faq">/ FAQ</a></li>
          <li><a routerLink="/get-involved">/ Get Involved</a></li>
          <li><a href="http://blog.therules.org/" target="_blank">/ Blog</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  
  <!-- ROUTER OUTLET -->      
  <router-outlet id="router-outlet"></router-outlet>
  <!-- ************* -->
  
  <!-- FOOTER -->
  <footer>
    <div class="panel-footer">
  
    <div class="container-fluid">
      <div class="row">
  
        <div class="col-xs-6">
          <div style="font-family: blackout-midnight;">THE RULES.ORG</div>
          <a routerLink="/home" >Home</a>
          <a routerLink="/about" >About</a>
          <a routerLink="/faq" >FAQ</a>
          <a routerLink="/get-involved" >Get Involved</a>
          <a href="http://blog.therules.org/" target="_blank">Blog</a>
        </div>
  
        <div class="col-xs-6">
          Connect with us
          <a href="mailto:contact@therules.org" target="_blank">Email</a>
          <a href="https://www.facebook.com/therulesorg" target="_blank">Facebook</a>
          <a href="https://twitter.com/therulesorg" target="_blank">Twitter</a>
          <a href="https://www.instagram.com/therulesorg/" target="_blank">Instagram</a>
          <a href="http://eepurl.com/VdmKr" target="_blank">Newsletter</a>
        </div>
  
      </div>
    </div>
  
      
    </div>
  </footer>
  